<div ng-controller="contactCtrl" class="contact">
    <h1 style="text-align: left">Contact Form</h1>
    <form name="contactForm" novalidate>
        <div class="input">
            <label>
                Name:
            </label>
            <input type="text" name="name" ng-model="formData.name" placeholder="Name" ng-minlength="3" required class="textarea">
            <div ng-messages="contactForm.name.$error" ng-show="contactForm.name.$touched && contactForm.name.$invalid">
                <div ng-message="required" class="error">Your name is required</div>
                <div ng-message="minlength" class="error">Your name is too short</div>
            </div>
        </div>
        <div class="input">
            <label>
                Subject:
            </label>
            <input type="text" name="subject" ng-model="formData.subject" placeholder="Subject" required class="textarea">
            <div ng-messages="contactForm.subject.$error" ng-show="contactForm.subject.$touched && contactForm.subject.$invalid">
                <div ng-message="required" class="error">Subject is required</div>
            </div>
        </div>
        <div class="input textareaDiv">
            <label>
                Object:
            </label>
            <textarea name="main" ng-model="formData.main" placeholder="Object" required class="textarea"></textarea>
            <div ng-messages="contactForm.main.$error" ng-show="contactForm.main.$touched && contactForm.main.$invalid">
                <div ng-message="required" class="error">Object is required</div>
            </div>
        </div>
        <input type="submit" ng-click="sendMail()" ng-disabled="contactForm.$invalid" value="Send">
    </form>
</div>