.contact {
    background-color: lightsteelblue;
    text-align: right;
    margin: auto;
    width: 30%;
}

.textarea {
    width: 70%;
}

.input {
    margin: 10px;
}

.textareaDiv {
    display: flex;
    justify-content: end;
}

.error {
    color: red;
    font-style: italic;
}