.contact {
    margin: 40px auto auto auto;
    width: 30%;
}

.textarea {
    width: 70%;
}

.input {
    margin: 10px;
}

.textareaDiv {
    display: flex;
    justify-content: end;
}

.error {
    color: red;
    font-style: italic;
}

.our-input, ::before, ::after {
    box-sizing: border-box;
}

.our-button {
    background-color: #1c87c9;
    color: #FFFFFF;
}

.our-div {
    display: flex;
    justify-content: end;
}