table {
    width:100%;
    border-collapse: collapse;
}

.cv {
    background-color: lightsteelblue;
    margin-top: 10px;
    display: grid;
    grid-template-areas:
            'coord work work work'
            'skills work work work'
            'skills social social social';
}

.title {
    margin: 0;
    background-color: rgb(68, 114, 196);
    color: white;
    border-bottom: solid rgb(237, 125, 49);
    border-top: solid rgb(237, 125, 49);
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.date {
    vertical-align: top;
    text-align: right;
    border-right: solid rgb(237, 125, 49);
    padding: 10px;
    font-weight: bold;
    font-style: italic;
    width: 15%;
}

.info {
    padding: 10px;
    vertical-align: top;
}

.important {
    font-weight: bold;
    font-style: italic;
}

.education {
    grid-area: education;
}

.coord {
    background-color: rgb(255,255,255);
    border: black solid;
    grid-area: coord;
}

.work {
    grid-area: work;
}

.skills {
    grid-area: skills;
    background-color: rgb(255,255,255);
    border-right: black solid;
    border-left: black solid;
    border-bottom: black solid;
}

.social {
    grid-area: social;
}