/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

#upBlock{
  background-color: blue;
  text-align: center;
  justify-content: space-around;
  display: flex;
  grid-area: header;
}

.upButton{
  width: 20vw;
  height: 100%;
}

.button{
  border: none;
  font-family: Arial;
  font-size: 1.7vw;
  background-color: #1c87c9;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}

.button:hover{
  cursor: pointer;
}
